# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
inventory-api

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environment variables (Security)
.env

# Editor specific
.vscode/
.idea/